<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login_style.css">
    <title>Login</title>
</head>
<body>
  <section>
      <div class="sign_in">
        <h1>Welcome Back!</h1>

        <br action="{{ url_for('login') }}" method="post">

            <input type="email" placeholder="Email" id="email" name="email" required></br>

            <input type="password" placeholder="Password" id="password" name="password" required></br>
            <button type="submit" class="in">Login</button>
        </form>
      </div>
  </section>
</body>
</html>
