<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="acceuil_style.css">
    <title>Sign Up</title>
</head>
<body>
<section>
    <div class="page">
            <div class="welcome">
                <h2>Welcome Back!</h2>
                <p>Task Management Application</p>
                <button class="sign_in" class="in">Sign In</button>

            </div>
            <div class="sign_up">

                <form action="{{ url_for('signup') }}" method="post">
                    <h2>Sign Up your Account</h2>
                    <input type="text" id="username" placeholder="Username" name="username" required><br>

                    <input type="email" id="email"  placeholder="Email" name="email" required> <br>

                    <input type="password" id="password"  placeholder="Password" name="password" required> <br>

                    <button type="submit" name="sign_up" value="Sign Up" class="up">Sign Up</button>
                </form>
            </div>
    </div>
</section>
<script>
   

function signup() {
    const username = document.getElementById('signupUsername').value;
    const password = document.getElementById('signupPassword').value;
    const email = document.getElementById('signupEmail').value;

    // Make a POST request to your Flask API for signup
    axios.post('http://127.0.0.1:5000/signup', { username, password, email })
        .then(response => {
            console.log(response.data);
            // Handle successful signup (redirect, update UI, etc.)
        })
        .catch(error => {
            console.error(error);
            // Handle signup error (show error message, etc.)
        });
}

</script>
</body>
</html>
