<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nav_bar_style.css">

    <title>Update Task</title>
</head>
<body>
      <div class="topnav">

      <a >  Task Management App</a>
      <div class="topnav-right">
            <a href="create_task.html">Add Task</a>
            <a href="task_list.html">View Tasks</a>
            <a href="update_account.html"> Update Account</a>
            <a href="{{ url_for('logout') }}"> Log Out/Delete Account</a>

      </div>
    </div>
    <h1>Update Task</h1>

    <form method="POST" action="{{ url_for('update_task', task_id=task.id_task) }}">

        <label for="title">Title:</label>
        <input type="text" name="title" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{ task.description }}" required>


        <label for="deadline">Deadline:</label>
        <input type="date" name="deadline" required>
    

        

        <button type="submit">Update Task</button>
    </form>
</body>
</html>
